.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  margin-right: 20px;
}

.nav-link{
  color:white;
  font-weight: bold;
}

.App-header {
  background-color: #5cb19a;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #000000;
}

.title{
  margin: 10px;
  color:white;
}
li{
  margin-right: 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card{
  margin:20px;
}

h6{
  text-align: left;
}